<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>admin_login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<style>
.jumbotron {
	/* background: url(image/background.png); */
}
</style>
</head>
<body>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="jumbotron">
				<h1>Admin Login</h1>
			</div>
			<form action="/admin_login" method="post">
				<div class="form-group">
					<label for="name">Name:</label> 
					<input name="name"
						class="form-control" id="name" placeholder="text">
				</div>
				<div class="form-group">
					<label for="password">Password:</label> 
					<input name="password"
						class="form-control" id="password" placeholder="text">
				</div>
				<button type="submit" class="btn btn-warning">login</button>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>

</body>
</html>